{% include 'header.html' %}
{% load comments %}
    {% if object_list %}
        {% for post in object_list %}
            <div class="post">
                <h1><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h1>
                    <div class="commentcounter2">                    
                        {% get_comment_count for post as comment_count %}
                        <h3>{{ comment_count }}</h3>
                    </div>
                    <div class="commentground">
                        <img src="{{ STATIC_URL }}img/Nachricht.jpg" />
                    </div>
                {{ post.text }}
            </div>
        {% endfor %}
    {% if page_obj.has_previous %}
        <a href="/{{ page_obj.previous_page_number }}/">Previous Page</a>
    {% endif %}
    {% if page_obj.has_next %}
        <a href="/{{ page_obj.next_page_number }}/">/ Next Page</a>
    {% endif %}
    <br/><br/><br/>
    {% else %}
        <div class="post">
            <h3>No posts matched</h3>
        </div>
    {% endif %}
{% include 'footer.html' %}
