{% include 'header.html' %}
    {% load comments %}
        <div class="post">
            <h1>Posts for {{ category.title }}</h1>
        </div>
            {% if posts %}
                {% for post in posts %}
                    <div class="post">
                        <h1><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h1>
                            <div class="commentcounter3">                    
                                {% get_comment_count for post as comment_count %}
                                <h3>{{ comment_count }}</h3>
                            </div>
                            <div class="commentground">
                                <img src="{{ STATIC_URL }}img/Nachricht.jpg" />
                            </div>
                        {{ post.text }}
                    </div>
                {% endfor %}
                <br />
            {% else %}
                <div class="post">
                    <h3>No posts matched</h3>
                </div>            
            {% endif %}
{% include 'footer.html' %}
